.root {
  padding: 3rem 4.5rem;
  border-radius: 0.375rem;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgb(8 15 41 / 8%), 0 0 1px 0 #080f2914;
}

a {
  color: black;
}

.avatar {
  border-radius: 0.375rem;
  width: 200px;
  display: block;
}

.mainCont {
  flex: 1;
  margin-left: 40px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.infoCont {
  border-top: 1px solid #e1e1e4;
  border-bottom: 1px solid #e1e1e4;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.cel {
  padding: 0 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
}
.cel label {
  color: #9b97b1;
}

.cel div {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.name {
  font-weight: bold;
  font-size: 35px;
}

.repos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 15px 10px;
}

.reposNumber {
  color: white;
  font-size: 25px;
  font-white: bold;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.line {
  width: 40px;
  height: 2px;
  background: black;
}

.git {
  border-radius: 10px;
  padding: 10px 20px;
  background: #f5f5f9;
}
.git a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.git a img {
  margin-right: 10px;
}

.git a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button {
}
