.root {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  box-shadow: 0 0 0 1px #00000005, 0 0 0.5rem 0 #00000003,
    0.25rem 0.5rem 1rem 0 #00306f14;
}

.icon {
  margin-left: 10px;
}
.searchField {
  margin: 0 15px;
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  color: grey;
  width: 100%;
  font-size: 1.125rem;
}
.searchField::placeholder {
  color: #4b6a9b;
}
.btn {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  background: #1001d4;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 0.781rem 1.5rem;
  font-weight: bold;
  transition: background-color 250ms ease;
}

.btn:hover {
  background-color: #606cff;
}
